{
  "env": {
    "production": {
      "only": [ "src" ],
      "presets": [
        "es2015"
      ]
    },
    "development": {
      "only": [ "src", "test" ],
      "presets": [
        "power-assert"
      ]
    },
    "cover": {
      "only": [ "src" ],
      "sourceMaps": "inline",
      "plugins": [
        [ "istanbul" ],
        [ "transform-es2015-classes", { "loose": true } ]
      ]
    }
  }
}
